<html>
   <h2>List of running jobs:</h2>
   <table style="width:100%">
        <tr>
            <th>Id</th>
            <th>Status</th> 
            <th>Command</th>
        </tr>
{% for image in dcli.containers() %}
   {% block container %}
        <tr>
           <td>{{ escape(image['Id']) }}</td>
           <td>{{ escape(image['Status']) }}</td>
           <td>{{ escape(image['Command']) }}</td>
        </tr>
   {% end %}
{% end %}
   </table>
   <h2>List of completed jobs:</h2>
   <table style="width:100%">
        <tr>
            <th>No</th>
            <th>Id</th> 
        </tr>
{% for nid, image in enumerate(old_jobs) %}
   {% block oldcontainer %}
        <tr>
           <td>{{ nid }}</td>
           <td>{{ escape(image) }}</td>
        </tr>
   {% end %}
{% end %}
   </table>

</html>
